/* This is how I comment stuff out in CSS. Here, Import Google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Potta+One&display=swap');

/* Update headers */

h2 {
  font-family: "Hachi Maru Pop";
  font-size: 40px;
  color: purple;
}

h3 {
  font-family: "Potta One";
  font-size: 25px;
  color: magenta;
}

body {
  font-family: "Hachi Maru Pop";
  font-size: 18px;
  color: teal;
  background-color: yellow;
}
